body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}

.validator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;}

button:hover {
    background-color: #45a049;
}

input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}

p {
    margin-top: 15px;
}

h1 {
    margin-bottom: 30px;
}